# ---- PyCharm / IntelliJ IDEA / JetBrains IDEs ----
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
out/
*.iws
*.iml
*.ipr

# Optional: only keep shared config
!.idea/codeStyles
!.idea/runConfigurations

# ---- Virtual Environments ----
.Python
[Bb]in/
[Ii]nclude/
[Ll]ib/
[Ll]ib64/
[Ll]ocal/
[Ss]cripts/
pyvenv.cfg
.venv/
pip-selfcheck.json

# ---- Java / Maven / Spring / STS ----
target/
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ---- NetBeans ----
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ---- VS Code ----
.vscode/

# ---- Application Config Files ----
**/application.properties


# ---- Python dotenv - environment private configurations ----
.env

# ---- ChromaDB persist directory ----
chroma_data/