
<aside class="sidebar">
  <ul class="nav-menu">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/jobs">
        <i class="pi pi-briefcase"></i>
        <span>Jobs</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/candidates">
        <i class="pi pi-users"></i>
        <span>Candidates</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/job-matcher">
        <i class="pi pi-search"></i>
        <span>Job Matcher</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/cv-matcher">
        <i class="pi pi-file"></i>
        <span>CV Matcher</span>
      </a>
    </li>
  </ul>
</aside>
